# Core Requirements
mkdocs-material==9.6.7
mkdocs-git-revision-date-localized-plugin==1.2.5
mkdocs-video==1.5.0
mkdocs-redirects==1.2.1
mkdocs-minify-plugin==0.8.0
mkdocs-static-i18n==1.2.3
git+https://github.com/kamilkrzyskow/gothic-lexer.git@b5ee7868a7e7397cd129ff1f847daa7d39c0e416#egg=gothic_lexer
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-git-authors-plugin==0.9.0
mkdocs-rss-plugin==1.14.0
mkdocs-git-committers-plugin-2==2.3.0