@import url("constants.css");

/* region mkDocs override */

/* Stretch content area */
.md-main__inner.md-grid {
    /* Default 61rem */
    max-width: 75rem;
}

/* Shrink header and footer to the content size*/
.md-grid {
    /* Default 61rem */
    max-width: 50rem;
}

@media screen and (min-width: 60em) {
    /* Decrease the width of the repository link button */
    .md-header__source {
        max-width: 7rem;
        width: 7rem;
    }
    /* Increase width of the repository link text */
        .md-source__repository {
        max-width: 100%;
    }
}

/* Fix for the left footer button on mobile */
@media screen and (max-width: 44.9375em) {
    .md-footer__link--prev .md-footer__title {
        display: block;
    }
}

/* center the images */
.md-content img {
    display: block;
    margin: 1em auto;
    min-width: 75%;
}

/* endregion */

/* region video container */

/* 16:9 aspect ratio and centering */
/* Works on top of mkdocs-video */
.video-container {
    width: 32rem;
    height: 18rem;
    margin: 1em auto;
}

@media screen and (max-width: 44.9375em) {
    .video-container {
        width: 100%;
        height: 52vmin;
    }
}

/* endregion */

/* region anchor link and header SVG icons */

/* SVG icon base settings */
/* Based on a generated CSS file at https://facelessuser.github.io/ */
.md-content a.external-link::after,
.md-typeset .headerlink
{
    width: 0.8em;
    height: 0.8em;
    background-color: currentColor;
    background-size: 0.8em;
    -webkit-mask-size: 0.8em;
    mask-size: 0.8em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    visibility: visible;
}

/* Override settings for header links SVG */
.md-typeset .headerlink {
    vertical-align: middle;
    -webkit-mask-image: var(--gmc-header-svg);
    mask-image: var(--gmc-header-svg);
}

/* Override settings for external links SVG */
.md-content a.external-link::after {
    display: inline-block;
    content: "";
    margin-left: 0.2em;
    -webkit-mask-image: var(--gmc-external-svg);
    mask-image: var(--gmc-external-svg);
}

/* endregion */

/* region Extra admonitions SVG */

.md-typeset .admonition.trivia,
.md-typeset details.trivia
{
    border-color: rgb(180, 189, 26);
}

.md-typeset .trivia > .admonition-title,
.md-typeset .trivia > summary
{
    background-color: rgba(229, 188, 26, 0.16);
}
.md-typeset .trivia > .admonition-title::before,
.md-typeset .trivia > summary::before
{
    background-color: rgb(229, 189, 26);
    -webkit-mask-image: var(--md-admonition-icon--trivia);
    mask-image: var(--md-admonition-icon--trivia);
    animation: heart 1000ms infinite;
}

/* Beautiful heart beat animation I found here: https://github.com/squidfunk/mkdocs-material/discussions/3850 */
@keyframes heart 
{
    0%, 40%, 80%, 100%
    {
        transform: scale(1);
    }
    20%, 60%
    {
        transform: scale(1.1);
    }
}
.heart
{
    animation: heart 1000ms infinite;
}

/* endregion */

/* region pygments highlight override */

:root {
    --gmc-code-hl-externals-color: #2e7700;
    --gmc-code-hl-zparserextender-color: #b00048;
    --gmc-code-hl-variable-color: #716e00;
    --gmc-code-hl-string-color: #694e37;
    --gmc-code-hl-type-color: #197277;
}

@media screen
{
    [data-md-color-scheme=slate]
    {
        --gmc-code-hl-externals-color: #50c000;
        --gmc-code-hl-zparserextender-color: #ff2e8c;
        --gmc-code-hl-variable-color: #b7b400;
        --gmc-code-hl-string-color: #ce9172;
        --gmc-code-hl-type-color: #2bbac5;
    }
}

.highlight .nb-Externals
{
    color: var(--gmc-code-hl-externals-color);
}

.highlight .nb-ZParserExtender
{
    color: var(--gmc-code-hl-zparserextender-color);
}

.highlight .vi
{
    color: var(--gmc-code-hl-variable-color);
}

.highlight .s
{
    color: var(--gmc-code-hl-string-color);
}

.highlight .kt
{
    color: var(--gmc-code-hl-type-color);
}

.highlight .kc
{
    color: var(--md-code-hl-keyword-color);
    font-style: italic;
}

/* endregion */